@mixin nav_title {
    display: inline-block;
    width: 140px;

    text-decoration: none;
    color: #ffffff;
    
    img {
        width: 30px;
        float: left;
        padding-right: 7px;
    }
}
* {
    // border: 0.1px solid #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav {
    height: 10vh;
    padding: 15px;
    display: grid;
    grid-template-columns: 20% 80%;

    background-color: #111;
    color: #fff;

    position: fixed;
    width: 100%;
    
    #logo {
        color: gold;
        font-size: 1.3em;
        padding: 0 15px;
        letter-spacing: 1px;

        #logo_zh {
            font-size: 0.5em;
            letter-spacing: 8.5px;
        }
    }
    nav {
        padding-top: 10px;
        a {
            @include nav_title;
        }
    }
    a:hover span {
        opacity: 0.5;
    }
}

#banner {
    height: 100vh;
    background-image: url(img/banner.jpg);
    background-size: 100%;
    background-position: center;
}
// 關於我們
.title {
    @include nav_title;
}
#about {
    height: 90vh;
    #about_bg {
        filter: blur(2px) brightness(30%);
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: -1;

        background-image: url(img/about.jpg);
        background-size: 100%;
        background-position: center;
    }
}
.container {
    margin: 0 auto;
    padding: 50px 0;

    width: 80%;
    max-width: 1200px;
}
// 全球據點
#location {
    height: 90vh;
    #location_bg {
        filter: blur(2px) brightness(30%);
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: -1;

        background-image: url(img/about.jpg);
        background-size: 100%;
        background-position: center;
    }
    .place {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    // .location {
    //     .location_ {}
    // }
}